@import url("http://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --pink: #f03f83;
  --dark-pink: #ec4c8a;
  --light-pink: #fc5193;
  --T: #51fcda;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #fff;
}

body {
  background-color: var(--pink);
}

.nav-link {
  display: flex;
  align-content: flex-end;
  padding: 8px;
  font-size: 20px;
  display: flex;
  float: right;
}

.cityContainerMain {
  margin: 0;
  border: 1px solid var(--pink);
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 20rem;
  width: 20%;
}

.cityContainer {
  justify-content: center;
}

.cityContainerMain:nth-child(even) {
  background-color: var(--light-pink);
  border: 1px solid var(--dark-pink);
}

.city-heading {
/*   width: 50%; */
  text-align: center;
  font-size: 35px;
  color: white;
  padding-top: 5px;
}

.load-data-btn {

}

.tablePollution {
  padding: 0.2rem;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.table-border {
  border: 2px solid var(--light-pink);
}

.table thead {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  text-align: center;
}

.table-Heading th {
  font-size: 30px;
  padding: 5px;
  text-decoration: underline;
}

.pollution-data {
  font-size: 18px;
  text-align: center;
  padding: 10px;
}

.home-heading header {
  padding-top: 40px;
  display: inline-flex;
  margin-left: 250px;
}

.home-heading h1 {
  font-size: 35px;
  padding-top: 200px;
}

.home-countries {
  width: 30%;
  color: #fff;
  font-size: 35px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  margin: auto;
}

.home-card-heading {
  font-size: 35px;
}

.card-body {
  padding-bottom: 20px;
  font-size: 25px;
}

.containerCountries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.countryInfo {
  background-color: var(--light-pink);
  color: white;
  width: 100%;
  height: 100%;
}

/* .countrySearchBox input {
  padding: 10px 10px;
  border: none;
  text-align: center;
  width: 200px;
  border-radius: 4px;
  background-color: #fc5193;
} */

.countryDisplay {
  text-align: center;
  padding: 80px;
}

.card-title {
  font-size: 35px;
  text-decoration: underline;
}

.card-text {
  font-size: 20px;
}

button {
  background-color: var(--pink);
  padding: 5px;
  font-size: 15px;
  border: none;
}

.cityContainer {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  height: 100%;
}

.cityContainer a:nth-child(4n + 1),
.cityContainer a:nth-child(4n) {
  background-color: var(--dark-pink);
}

.pollution-data:nth-child(odd) {
  background-color: var(--light-pink);
}

.table-Heading th:nth-child(even) {
  background-color: var(--light-pink);
}
