@import url("http://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --pink: #f03f83;
  --dark-pink: #ec4c8a;
  --light-pink: #fc5193;
  --T: #51fcda;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #fff;
}

body {
  background-color: var(--pink);
}

.nav-link {
  display:flex;
  align-content: flex-end;
  padding: 10px;
  font-size: 20px;
}

.cityContainer {
  margin: 0;
  border: 1px solid var(--dark-pink);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  width: 100%;
}

.cityContainer:nth-child(even) {
  background-color: var(--dark-pink);
  border: 1px solid var(--dark-pink);
}

.leftSidecityContainer {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 50%;
  text-align: center;
  font-size: larger;
  color: white;
}

.tablePollution {
  padding: 0.2rem;
  padding-top: 4rem;
}

.table thead {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  text-align: center;
}

.table-Heading th {
  font-size: 30px;
  padding: 5px;
  text-decoration: underline;
}

.pollution-data {
  font-size: 18px;
  text-align: center;
  padding: 10px;
}

.home-countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 50px;
}

.containerCountries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.countryInfo {
  background-color: var(--light-pink);
  color: white;
  text-align: end;
}

/* .countrySearchBox input {
  padding: 10px 10px;
  border: none;
  text-align: center;
  width: 200px;
  border-radius: 4px;
  background-color: #fc5193;
} */

.countryDisplayBlock container {
  padding-top: 4rem;
  display: flex;
  flex-wrap: wrap;
}

.countryDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.tablePollution {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.btn {
  background-color: var(--pink);
  padding: 8px;
  font-size: 18px;
}

.cityContainer {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  height: 100%;
}

.cityContainer a:nth-child(4n + 1),
.cityContainer a:nth-child(4n) {
  background-color: var(--dark-pink);
}

.home div {
  text-align: center;
  margin: 10px;
  width:100%;
  border-radius: 5px;
}

.card-body {
  width: 100%;
  height: 150px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-right: 20px;
}

.card-text {
  width: 100%;
  height: 80px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.card-body,
.card-title  {
  font-size: 30px;
}

.card-body {
  font-size: 30px;
}

.nav-link {
  display: flex;
  float: right;
}

.pollution-data:nth-child(odd) {
  background-color: var(--light-pink);
}

.table-Heading th:nth-child(even) {
  background-color: var(--light-pink);
}
